# Ignore OS folders in both projects
/Sige1/OS/
/Forge1/OS/
Sige1/OS/QWRT-R24.09.06-rockchip-rk35xx-armsom_sige1-squashfs-sysupgrade.img.zip.001
Sige1/OS/QWRT-R24.09.06-rockchip-rk35xx-armsom_sige1-squashfs-sysupgrade.img.zip.002
Sige1/OS/Debian/armsom-sige1-debian-bullseye-xfce4-arm64-20241209.zip.001
Sige1/OS/Debian/armsom-sige1-debian-bullseye-xfce4-arm64-20241209.zip.002
Sige1/OS/Debian/armsom-sige1-debian-bullseye-xfce4-arm64-20241209.zip.003
Sige1/OS/Debian/armsom-sige1-debian-bullseye-xfce4-arm64-20241209.zip.004
Sige1/OS/Debian/armsom-sige1-debian-bullseye-xfce4-arm64-20241209.zip.005
Sige1/OS/Debian/armsom-sige1-debian-bullseye-xfce4-arm64-20241209.zip.006
Sige1/OS/Debian/armsom-sige1-debian-bullseye-xfce4-arm64-20241209.zip.007
Sige1/OS/Debian/armsom-sige1-debian-bullseye-xfce4-arm64-20241209.zip.008
Sige1/OS/Debian/armsom-sige1-debian-bullseye-xfce4-arm64-20241209.zip.009
